<section id="form-cadastro">  
          <div class="container ">
            <form ng-model="cargo">
              <div class="row">
                  <div class="col-lg-4">
                    <label>Cargo</label>
                    <input type="text"  ng-model="cargo.cargo"  class="form-control">
                  </div>
              </div>
              <br>
              <button type="submit" class="botoes-func btn btn-primary" ng-click="cadastrar()">Salvar</button>
            </form>
          </div>   
  </section>