:root {
	--azul: #0d122b;
	--azul-claro: #4c79ac;
	--azul-escuro: #0a0e22;
	--amarelo: #dfc217;
	--dark-transp: rgba(0,0,0,0.5);
	--preto: #000;
	--branco: #fff;
}

#login-page {
	background-color: var(--azul);
}

#login-page header {
	background-color: var(--azul);
	color: var(--branco);
}

#login-page .login-box {
	margin-top: 30px !important;
}

#login-page .login-box label {
	color: var(--branco) !important;
}

nav {
	background-color: var(--azul);
	padding: 15px auto;
}

nav .nav-link {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 10px;
	border-radius: 3px;
}

nav .nav-item a:hover {
	background-color: var(--branco) !important;
	color: var(--azul) !important;
}

#panel {
	min-height: 500px;
}

section {
	height: 100%;
	padding: 50px 0;
}

#login-page footer {
	background-color: var(--dark-transp);
	color: var(--branco);
	padding: 30px 0 50px 0;
}